!!! XML
!!! 1.1
%html(xmlns="http://www.w3.org/1999/xhtml")
  %head
    %meta(http-equiv="Content-Type" content="text/html; charset=utf-8" )
    %meta(http-equiv="expires" content="0" )
    %meta(http-equiv="Content-Script-Type" content="text/javascript" )
    %meta(http-equiv="Content-Style-Type" content="text/css" )
    %meta(http-equiv="X-UA-Compatible" content="IE=8")
    %meta(name="author" content="MyAppAuthor")
    %link(rel="icon" type="image/png" href="/favicon.png")
    %title= @title
    %link(type="text/css" rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/css/bootstrap-1.1.1.min.css")
    %link(type="text/css" rel="stylesheet" href="/css/style.css")
    %link(type="text/css" href='http://fonts.googleapis.com/css?family=Montez|Josefin+Sans' rel='stylesheet')
    %link(type="text/css" rel="stylesheet" href="/css/landing.css")
    %script(type="text/javascript" src="/js/jquery.js")
    %script(type="text/javascript" src="/js/bootstrap.js")
    %script(type="text/javascript" src="/js/application.js")
  %body{id:@action}
    - if env['warden'].user != nil
      %div.topbar-wrapper{:style => "z-index: 5;"}
        %div.topbar
          %div.fill
            %div.container
              %h3
                %a{:href => "#"} Git front
              %ul
                %li.active
                  %a{:href => "#"} Home
                %li
                  %a{:href => "#about"} About
                %li
                  %a{:href => "#contact"} Contact
              %ul.nav.secondary-nav
                - if env['warden'].user == nil
                  %li.menu
                    %a{:href => "/login"} Login
                  %li
                    %a{:href => "/signup"} Signup
                - else
                  %li.menu
                    %a.menu{:href => "#"}= env['warden'].user.name
                    %ul.menu-dropdown
                      %li
                        %a{:href => "#"} Preferences
                      %li.divider
                      %li
                        %a{:href => "/logout"} Logout
                
    %div.container-fluid
      %div.sidebar
      %div.content
        - if flash[:error]
          %div.alert-message.error
            %a.close{:href => "#"} &times;
            %p
              %strong Error
              = flash[:error]
        - if flash[:notice]
          %div.alert-message.success
            %a.close{:href => "#"} &times;
            %p= flash[notice]
        - if flash[:warning]
          %div.alert-message.warning
            %a.close{:href => "#"} &times;
            %p= flash[:warning]
        - if env['warden'].user
          %div.row
            %div.span12.columns
              %ul.tabs
                - if (@active_tab == "dashboard")
                  %li.active
                    %a{:href => "/"} Dashboard
                - else
                  %li
                    %a{:href => "/"} Dashboard
                - if (@active_tab == "dragons")
                  %li.active
                    %a{:href => "/dragons"} Dragons
                - else
                  %li
                    %a{:href => "/dragons"} Dragons
                - if (@active_tab == "eggs")
                  %li.active
                    %a{:href => "/eggs"} Eggs
                - else
                  %li
                    %a{:href => "/eggs"} Eggs
                - if (@active_tab == "keys")
                  %li.active
                    %a{:href => "/keys"} Keys
                - else
                  %li
                    %a{:href => "/keys"} Keys
                - if env['warden'].user.admin?
                  - if (@active_tab == "users")
                    %li.active
                      %a{:href => "/users"} Users
                  - else
                    %li
                      %a{:href => "/users"} Users
        = yield
