%div.row
  %div.span12.columns
    %h2 Dashboard
    %legend Status of the moutain
    %table.zebra-striped{:style => "margin-bottom: 0;"}
      %thead
        %tr
          %th Name
          %th Description
          %th Status
          %th
      - if @services.count > 0
        - @services.each do |service|
          %tbody
            %tr
              %td= service["name"]
              %td= service["description"]
              %td= service["status"]
              %td
                %a{:href => service["url"]} Show
%div.row
  %div.span12.columns
    %h3 Sub modules
    %legend modules api keys (keep them secret)
    %table.zebra-striped{:style => "margin-bottom: 0;"}
      %thead
        %tr
          %th Service
          %th Login
          %th Token
        %tbody
          %tr
            %td Git gate
            %td= Settings.mercure_api.username
            %td= Settings.mercure_api.token
          - if ApiUser.count > 0
            %tr
              %td Git shell
              %td= ApiUser.first.login
              %td= ApiUser.first.token
          - else
            %tr
              %td Git shell
              %td.error You must run
              %td.error bundle exec thor setup:user_init