%div.row
  %div.span12.columns
    %h2 Users
    %legend Manage your users
    - if @users.count > 0
      %table.zebra-striped{:style => "margin-bottom: 0;"}
        %thead
          %tr
            %th Name
            %th Email
            %th Login
            %th Role
            %th
        - @users.each do |user|
          %tbody
            %tr
              %td= user.name
              %td= user.email
              %td= user.login
              %td= user.role
              %td
                %a{:href => "/users/#{user.id}"} Show
                %a{:href => "/users/#{user.id}/edit"} Edit
                - if user.id != env['warden'].user.id
                  %a{:href => "/users/#{user.id}/destroy"} Destroy