%div.row
  %div.span16.columns
    %h2 Eggs
    %legend Manage your eggs
    %table.zebra-striped{:style => "margin-bottom: 0;"}
      %thead
        %tr
          %th Name
          %th Status
          %th Repository Status
          %th Server status
          %th
            %a{:href => "/eggs/new"}
              %img{:src => "/img/plus.png", :height => "20px"}
      - if @eggs.count > 0
        - @eggs.each do |egg|
          %tbody
            %tr
              %td= egg.name
              %td NC
              %td= egg.git_repository.remote_url if egg.git_repository
              %td= egg.git_repository.updated_status if egg.git_repository
              %td= egg.dragon ? egg.dragon.status : "no server"
              %td= egg.dragon.token if egg.dragon
              %td= egg.dragon.public_address if egg.dragon
              %td
                %a.btn.small.info{:href => "/eggs/#{egg.id}"} Show
                %a.btn.small{:href => "/eggs/#{egg.id}/edit"} Edit
                %a.btn.small.danger{:href => "/eggs/#{egg.id}/destroy", :"data-confirm" => "Are you sure ?", :"data-method" => "delete", :rel => "nofollow"} Destroy
