%div.row
  %div.span8.columns.offset4
    %h2= @egg.name

%div.row
  %div.span8.columns.offset2
    %table.zebra-striped{:style => "margin-bottom: 0;"}
      %tbody
        %tr
          %td Status
          %td NC
        %tr
          %td DB
          %td= @egg.pg_database ? @egg.pg_database.status : "no db"
        %tr
          %td Repository
          %td
            = @egg.git_repository ? @egg.git_repository.updated_status : "no repository"
            = @egg.git_repository ? '(' + @egg.git_repository.remote_url + ')'
        %tr
          %td Server
          %td= @egg.dragon ? @egg.dragon.status : "no server"
        %tr
          %td IP
          %td= @egg.dragon.public_address if @egg.dragon
